$fa-font-path: '../../node_modules/font-awesome/fonts';
@import '../../node_modules/font-awesome/scss/font-awesome';

$gutter-width:          20px !default;
$line-height-base:      24px !default;
$margin-base:           10px !default;
$border-radius:         4px !default;

$colour-background:     #fafafa !default;
$colour-border:         #bebebe !default;
$colour-border-light:   #fff !default;
$colour-focus:          #ffbf47 !default;
$colour-grey:           #7e7e7e !default;
$colour-info:           #a4d2df !default;
$colour-danger:         #c84d40 !default;
$colour-danger-light:   #f6e1de !default;
$colour-primary:        #2575b0 !default;
$colour-success:        #297c46 !default;
$colour-success-light:  #cfefda !default;
$colour-text:           #000 !default;
$colour-text-light:     #737373 !default;
$colour-white:          #fff !default;
$colour-black:          #1e1e1e !default;

$font-family:   'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-family-monospace: 'Courier New', 'Andale Mono', 'Consolas', monospace !default;

.event-calendar {
    display: table;
    margin-bottom: $line-height-base;
    max-width: 400px;
    width: 100%;

    .calendar {
        width: 100%;

        th {
            padding-right: 16px;
        }
    }
}

.clndr-table {
    table-layout: fixed;
    width: 100%;
}

.clndr {
    font-family: $font-family;

    .clndr-controls {
        border-bottom: 1px solid $colour-border-light;
        display: flex;
        line-height: $line-height-base * 2;
        vertical-align: middle;

        .month {
            flex-grow: 1;
            text-align: center;
        }

        .rightalign {
            margin-right: $margin-base;
        }
    }

    .clndr-next-button,
    .clndr-previous-button {
        background: none;
        border: 0;
        cursor: pointer;
        font-size: 2em;
        line-height: 39px;
        height: $line-height-base * 2;

        &:hover {
            color: $colour-primary;
        }

        &.inactive {
            visibility: hidden;
        }
    }

    .header-day {
        padding-top: $margin-base;
        text-align: center;
    }

    .header-day,
    .day {
        padding-bottom: $margin-base;
        padding-right: $margin-base;
        width: percentage(1/7);
    }

    .day > .day-contents {
        background-color: $colour-background;
        border: 1px solid $colour-border;
        border-radius: $line-height-base * 2;
        display: inline-block;
        font-size: 1em;
        height: $line-height-base * 2;
        position: relative;
        text-align: center;
        user-select: none;
        width: $line-height-base * 2;

        &::after {
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 40px;
            display: block;
            font-family: 'FontAwesome';
            font-weight: normal;
            height: 16px;
            line-height: 16px;
            position: absolute;
            right: 0;
            text-align: center;
            top: -6px;
            width: 16px;
        }

        &:hover {
            border-color: $colour-grey;
            cursor: pointer;
            font-weight: bold;

            &::after {
                content: '\f055';
                color: $colour-primary;
                font-weight: normal;
            }
        }

        &:focus {
            box-shadow: 0 0 0 3px $colour-focus, inset 0 0 0 3px $colour-white;
            outline: none;
        }
    }

    .today > .day-contents {
        border-color: $colour-primary;
        font-weight: bold;
    }

    .event > .day-contents {
        &::after {
            color: $colour-success;
            content: $fa-var-plus-circle;
        }

        &:hover::after {
            color: $colour-danger;
            content: $fa-var-ban;
        }
    }

    .selected > .day-contents:hover,
    .inactive > .day-contents:hover {
        font-weight: normal;

        &::after {
            visibility: hidden;
        }
    }
    
    .selected.event-repeat > .day-contents:hover::after {
        visibility: visible;
    }

    .event > .day-contents,
    .event.event-repeat > .day-contents,
    .selected.event-repeat > .day-contents,
    .selected > .day-contents,
    .selected.event-add > .day-contents,
    .selected.event-repeat-on > .day-contents {
        background-color: $colour-primary;
        border: 2px solid $colour-black;
        box-shadow: inset 0 0 0 3px $colour-white;
        color: #fff;

        &:hover {
            border-color: $colour-black;
        }
    }

    .inactive > .day-contents {
        background-color: $colour-background;
        border-color: $colour-border-light;
        box-shadow: none;
        color: $colour-text-light;
        cursor: not-allowed;

        &::before,
        &::after {
            display: none;
        }

        &:hover {
            border-color: $colour-border-light;
            cursor: not-allowed;
        }
    }

    .event-add > .day-contents {
        background-color: $colour-primary;
        border: 2px solid $colour-black;
        box-shadow: inset 0 0 0 3px $colour-white;
        color: $colour-white;

        &::after {
            color: $colour-success;
            content: $fa-var-plus-circle;
        }

        &:hover::after {
            color: $colour-text;
            content: $fa-var-times-circle;
        }
    }

    .event-repeat > .day-contents {
        background-color: $colour-primary;
        border: 2px solid $colour-black;
        box-shadow: inset 0 0 0 3px $colour-white;
        color: $colour-white;

        &::after {
            color: $colour-success;
            content: $fa-var-repeat;
        }

        &:hover::after {
            color: $colour-danger;
            content: $fa-var-ban;
        }
    }

    .event-del > .day-contents,
    .event.event-del > .day-contents {
        background-color: $colour-white;
        border: 2px dotted $colour-danger;
        box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 50px $colour-danger-light;
        color: $colour-text;

        &::after {
            color: $colour-danger;
            content: $fa-var-ban;
        }

        &:hover {
            border-color: $colour-danger;
        }

        &:hover::after {
            color: $colour-black;
            content: $fa-var-times-circle;
        }
    }

    .event.event-del > .day-contents:hover::after {
        color: $colour-success;
        content: $fa-var-plus-circle;
    }

    .selected.event-repeat > .day-contents:hover::after,
    .event-repeat.event-del > .day-contents:hover::after {
        color: $colour-success;
        content: $fa-var-repeat;
    }

    .adjacent-month > .day-contents {
        background-color: $colour-white;
        border-color: $colour-border-light;
        color: $colour-text-light;
    }

    .event-calendar-summary {
        list-style-type: none;
        padding: 0;

        li {
            line-height: 1.5em;
            margin-bottom: .3em;
        }

        .fa {
            margin-right: 10px;
        }

        .label {
            margin-left: 10px;
        }
    }

    .label {
        border-radius: 4px;
        line-height: 1.5em;
        padding: 0 4px;
    }

    .label--success {
        border: 2px solid $colour-black;
    }

    .label--danger {
        // background-color: $colour-danger-light;
        border: 2px dotted $colour-danger;
    }

    .icon--success {
        color: $colour-success;
    }

    .icon--danger {
        color: $colour-danger;
    }

}
